@import url("https://fonts.google.com/specimen/Satisfy#standard-styles");
@import url("https://fonts.google.com/specimen/Great+Vibes");
@import url("https://fonts.google.com/specimen/Sacramento");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ContentWrapper */
.wrap
{
  background-color: #fff;
  color: #fff;
}

.active
{
  background-color: blue !important;
  color: #ffff !important;
}

.brand_image 
{
  border-radius: 50%;
  width: 50%;
  height: 80px;
  padding: 10px;

}
.img-circle
{
  border-radius: 50%;
  padding: 3px;
}

.avatar
{
 margin-left: 40px;
}
.brand-text
{
  text-align: center;
  margin-left: 24px;
}
.img_text
{
  font-size: small;
  text-align: center;
  margin-right: 29px;
}

/* Display content */
.user
{
  background-color: #fd7e14;
  margin-right: 70px;
}
.user_image
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 70px;
}
.profile
{
  margin: 20px;
}
.status
{
  font-size: 1em;
  font-weight: bold;
  margin-left: 60px;
}
h2
{
  font-size: 1em;
  font-weight: bold;
  margin-left: 45px;
}
.img-centre{
  text-align: center;
}

.img-centre img{
  height: 100px;
  width: 100px;
}

.inf {
 
  text-align: center;
  color:white;
}
.inf2 {
 
  text-align: center;
  color:black;
}

.purple{

  color:#bf10de;
}

.font-text
{
  font-size: 13px;
  margin-top: 0;
  padding: 0;
}

.customer-font
{
  font-size: 14px;
}

.divider
{
  width:100%;
  height:0.2px;
  background-color: rgba(83, 78, 78, 0.197);
  margin: 3px;
}

.border-right
{
  border:none;
  border-right: 1px solid black;
}

table.join { 
  border-collapse:separate; 
  border-spacing:0 15px; 
} 

.del
{
  border-radius: 80px;
  border: none;
  cursor: pointer;
 
}

.edit
{
  border-radius: 80px;
  border: none;
  cursor: pointer;
}

/* Human Resources  */

.styles
{
  text-align: center;
}

/* LOGIN FORM */

.header
{
   font-size: 1.5em;
   color: #444;
   margin: 17px;
   /* font-family: 'Satisfy'; */
   font-family: 'Sacramento';
}

.login_form
{
  background: #f5fcfc;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 455px;
  height: auto;
  text-align: center;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.3);
}

.login_form h2{
  color: #1c8adb;
  margin-bottom: 30px;
}
.input-box{
  border-radius: 5px;
  padding: 8px;
  margin:13px 0px;
  width: 90%;
  border: 1px solid #999;
  outline: none;
} 
.login_form button
{
  color: #fff;
  width: 95%;
  padding: 8px;
   border-radius: 5px;
   font-size: 15px;
   margin: 10px 0;
   border: none;
   outline: none;
   cursor: pointer;
}
.signup-btn
{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.signup-btn:hover
{
    background-color: #4d84e2;
    color: #333;
}
.email-btn
{
  background-color: #21afde;
}
.sign-up-form 
{
  text-decoration: none;
}

.sign-up-form hr
{
  margin-top: 20px;
  width: 80%;
}
.or
{
  background: #fff;
  width: 30px;
  margin: -29px auto 10px;
}

.login_form img
{
  width: 50px;
  margin-top: -40px;
  border-radius: 50%;
}

/* SIGN UP  */
.sign-up-form
{
  /* background: #f5fcfc; */
  background: #E9ECEF;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
  text-align: center;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.3);
  border-radius: 20px; 
}

.input-group input
{
  border-radius: 10px;
}

.input-group i
{
  text-align: center;
  line-height: 20px;
  color: #acacac;
  font-size: 1.1rem;
}

.register_form
{
  border-radius: 20px;
  padding: 8px;
  margin:13px 0px;
  width: 100%;
  outline: none;
}

.register_form label
{
  text-align: center;
  line-height: 20px;
  color: #acacac;
  font-size: 1.1rem;
}

.sign-up-form img
{
  width: 150px;
  margin-top: -50px;
  border-radius: 50%;
}
/* 
.logout-btn
{
  border-radius: 13px;
  background-color: rgb(163, 230, 163);
  padding: 5px;
  border: none;
  margin-right: 15px;
}

.sign-up-form button
{
  color: #fff;
  width: 95%;
  padding: 8px;
   border-radius: 5px;
   font-size: 15px;
   margin: 10px 0;
   border: none;
   outline: none;
   cursor: pointer;
} */

legend{
  font-weight: bold;
}

.empInput
{
  border-radius: 20px;
  /* padding: 4px;
  margin:13px 0px; */
  width: 100%;
  outline: none;
}

/* NEW SIGN-IN AND SIGN-UP PAGE */

.login_body
{
      position: relative;
      width: 100%;
      min-height: 100vh;
      background-color: #fff;
      overflow: hidden;
      /* background-image: url(../img/tekno.png); */
      background-image: linear-gradient(to right, #4258D0 , #C950C1);
}

/* cLIENT MODAL */
.state-h2
{
  font-size: 20px;
}

/* .password-icon
{
  position: absolute;
  position: inherit;
  top: 15px;
  right: 5px;

} */

